body {
  background: #212121;
  font-family: "Roboto", sans-serif;
}

.pg-pic {
  image-resolution: 1440px 900px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 72px;
  color: white;
}

h6 {
  color: rgba(246, 82, 130, 1);
}

p {
  font-family: "Roboto", sans-serif;
  color: white;
}

i {
  color: white;
}

.email {
  color: #ffffff;
  text-decoration: none;
}

a.nav-link {
  color: #ffffff !important;
}

.navbar-toggler {
  background-color: #ffffff !important;
  opacity: 0.9;
}

.container {
  justify-content: space-evenly;
}

footer {
  background: #212529;
}

div {
  color: #ffffff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.cover {
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.cover-font {
  font-size: 24px;
  padding: 350px 0 0 0;
  letter-spacing: 5px;
}

button {
  color: rgba(39, 33, 66, 1);
  margin: 18px 30px;
  padding: 14px 40px;
  font-size: 14px;
  font-family: "Montserrat" bold;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  background: white;
}

.gallery {
  letter-spacing: 10px;
}

.camera-text {
  margin-left: -125px;
}

.about-button {
  display: flex;
  justify-content: center;
  padding: 18px 30px;
  width: 200px;
  height: 53px;
  top: 1755px;
  margin-left: -20px;

  background: #ffffff;
  border-radius: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.cover-p {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.cover-title {
  letter-spacing: 10px;
}

.navbar {
  background: rgba(32, 32, 32, 1);
}

.header-bg {
  background: url(/images/bgx1.png) center;
  background-repeat: no-repeat;
  padding-bottom: 301px;
}

.logo {
  width: 150px;
  height: 24.7px;
}

.camera {
  width: 70px;
  height: 40.57px;
}

@media (max-width: 750px) {
  .cover-title,
  .gallery {
    font-size: 38px;
    text-align: center;
  }

  .header-bg {
    background: url(/images/bg-small.png) center;
    background-repeat: no-repeat;
    padding-bottom: 180px;
  }

  .camera-text {
    margin-left: -100px;
  }
}

@media (max-width: 450px) {
  .cover-title,
  .cover-font {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
  }

  .header-bg {
    background: url(/images/bg-small.png) center;
    background-repeat: no-repeat;
    padding-bottom: 120px;
  }

  .camera-text {
    margin-left: auto;
  }
}
